@page "/car-tool"

<PageTitle>Car Tool</PageTitle>

<ToolHeader HeaderText="Car Tool" />

<CarTable Cars="@cars" />

<form>
  <label>
    Make:
    <input type="text" @bind="carForm.Make" />
  </label>
  <label>
    Model:
    <input type="text" @bind="carForm.Model" />
  </label>
  <label>
    Year:
    <input type="number" @bind="carForm.Year" />
  </label>
  <label>
    Color:
    <input type="text" @bind="carForm.Color" />
  </label>
  <label>
    Price:
    <input type="number" @bind="carForm.Price" />
  </label>
  <button type="button" @onclick="addCar">Add Car</button>
</form>

@code {

  private CarForm carForm = new();

  private List<Car> cars = new() {
      new() {
        Id=1, Make="Ford", Model="Fusion Hybrid",
        Year=2020, Color="Red", Price=45000,
      },
      new() {
        Id=2, Make="Tesla", Model="S",
        Year=2019, Color="Black", Price=120000,
      },
    };

  private void addCar() {

    cars.Add(new() {
      Id=cars.Any() ? cars.Max(c => c.Id) + 1 : 1,
      Make=carForm.Make,
      Model=carForm.Model,
      Year=carForm.Year,
      Color=carForm.Color,
      Price=carForm.Price,
    });

    carForm = new();
  }

  class CarForm {
    public string Make { get; set; } = "";
    public string Model { get; set; } = "";
    public int Year { get; set; } = 1900;
    public string Color { get; set; } = "";
    public decimal Price { get; set; } = 0;
  }


}
