@page "/color-tool"

@using ToolsApp.Models

<PageTitle>Color Tool</PageTitle>

<header>
  <h1>Color Tool</h1>
</header>

<ul>
  @foreach(var color in colors) {
    <li>@color.Name @color.Hexcode</li>
  }
</ul>

@code {

  private List<Color> colors = new() {
    new() { Id=1, Name="red", Hexcode="ff0000"},
    new() { Id=2, Name="green", Hexcode="00ff00"},
    new() { Id=3, Name="blue", Hexcode="0000ff"},
  };


}
