@page "/color-tool"

@using ToolsApp.Models

<PageTitle>Color Tool</PageTitle>

<header>
  <h1>Color Tool</h1>
</header>

<ul>
  @foreach(var color in colors) {
    <li>@color.Name @color.Hexcode</li>
  }
</ul>

<form>
  <label>
    Name:
    <input type="text" @bind="colorForm.Name" />
  </label>
  <label>
    Hexcode:
    <input type="text" @bind="colorForm.Hexcode" />
  </label>
  <button type="button" @onclick="addColor">Add Color</button>
</form>

@code {

  private ColorForm colorForm = new();

  private List<Color> colors = new() {
    new() { Id=1, Name="red", Hexcode="ff0000"},
    new() { Id=2, Name="green", Hexcode="00ff00"},
    new() { Id=3, Name="blue", Hexcode="0000ff"},
  };

  private void addColor() {

    colors.Add(new() {
      Id=colors.Any() ? colors.Max(c => c.Id) + 1 : 1,
      Name=colorForm.Name,
      Hexcode=colorForm.Hexcode
    });

    colorForm = new();
  }

  class ColorForm {
    public string Name { get; set; } = "";
    public string Hexcode { get; set; } = "";
  }


}
