<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (!Cars.Any()) {
      <tr><td colspan="7">No cars.</td></tr>
    } else {
      @foreach(var car in Cars) {
        <CarViewRow Car="@car" OnDeleteCar="doDeleteCar" />
      }
    }
  </tbody>
</table>

@code {

  [Parameter]
  public IEnumerable<Car> Cars {get; set;} = new List<Car>();

  [Parameter]
  public EventCallback<int> OnDeleteCar {get; set;}


  private async Task doDeleteCar(int carId) {
    await OnDeleteCar.InvokeAsync(carId);
  }

}